.text {
	font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

/*
#heading {
    margin-top: 100px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 50px;
}
*/

/*
#thanks {
    position: relative;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
    margin-top: 60px;
}
*/

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#container{
    background:#FFFFFF;
    width: inherit;
    height: inherit;
}

#heart {
    position: absolute;
    width: 100px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    box-shadow: -10px 10px 12px #D1D1E0;
    left: 50px;
    top: 0;
    width: 100px;
    height: 160px;
    background: #FFA3FF;
    -moz-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
}
#heart:after {
    left: -50px;
    box-shadow: 10px 10px 12px #D1D1E0;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
}

#heartText {
    z-index: 100;
}

#reflection {
    background-color: white;
    position: relative;
    float: right;
    height: 12px;
    width: 12px;
    margin-top: 15px;
    left: 15px;
    z-index: 100;
    box-shadow: 0 0 5px white;
    -webkit-transform: rotate(45deg);
}

.pulse1 {
    /*heart size*/
    -webkit-animation: pulse 4s ease-in-out infinite;
}
.pulse2 {
    -webkit-animation: pulse 2.5s ease-in-out infinite;
}
.pulse3 {
    -webkit-animation: pulse 1.5s ease-in-out infinite;
}
.pulse4 {
    -webkit-animation: pulse .75s ease-in-out infinite;
}
.pulse5 {
    -webkit-animation: pulse .45s ease-in-out infinite;
}

/*PULSE*/
@-webkit-keyframes "pulse" {
 0% {
   -webkit-transform: scale(1);
 }
 50% {
   -webkit-transform: scale(1.2);
 }
 100% {
   -webkit-transform: scale(1);
 }

}
