a {
    color: black;
}
a:hover {
    color: #FFA3FF;
}
a:active {
    color: black;
}

.textClean {
    font-family: 'Montserrat', sans-serif;
}

.textFancy {
    font-family: 'Cedarville Cursive';
}

.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#body {
    padding-bottom: 5%;   /*footer height*/
}

#heading {
    font-size: 50px;
}

#footer {     
    position: fixed;
    bottom: 0;
    width: 100%;   
    height: 5%; /*footer height*/ 
    min-height: 65px;     
    text-align: center; 
}

#container{
    width:100%;
    height:100%;
    margin:0;
    background:#FFFFFF
}

